.modal {
    outline:none;    
}

.modal-body{
	padding: 24px;
	overflow-x: hidden; 
	overflow-y: auto;
}

th.custom-header{
	text-align:center;
	border-right:1px;
	border-right-style: solid;
	border-right-color: #c2c2c2; 
}

td.custom-data{
	text-align: center;
}

.chosen-container.chosen-container-multi { width: 100%; }
.chosen-container .chosen-results{
	max-height: 100px;
}

form.form-horizontal{
	margin-bottom: 0px;
}

.custom-margin{
	margin-left: 0px !important;
}

div.accordion-inner{
	height: 150px;
}

label.label{
	margin-left: 10px;
}

#form-accordion{
	margin: 0 0 0 0px;
}

.custom-inline{
	display: inline-block;
	margin-right: 10px;
}

.custom-block{
	display: block;
}

.custom-center{
	text-align: center;
}

div.tab-content{
	margin-bottom: 0px;
}

.well .control-group {
    padding: 12px 20px;
    margin-bottom: 0;
    border-bottom: none;
}

#form-klas{
	padding-bottom: 5px;
}

#custom-padding{
	padding-top: 30px !important;
}