.modal {
    outline:none;    
}

.modal-body{
	padding: 24px;
	overflow-x: hidden; 
	overflow-y: auto;
}

th.custom-header{
	text-align:center;
	border-right:1px;
	border-right-style: solid;
	border-right-color: #c2c2c2; 
}

td.custom-data{
	text-align: center;
}

.chosen-container.chosen-container-multi { width: 100%; }
.chosen-container .chosen-results{
	max-height: 100px;
}

form.form-horizontal{
	margin-bottom: 0px;
}
.well .control-group .controls{
	margin-left:0px;
}

div.accordion-inner{
	height: 150px;
}

label.label{
	margin-left: 10px;
}

#form-accordion{
	margin: 0 0 0 0px;
}

