.modal {
    outline:none;    
}

.modal-body{
	padding: 24px;
	overflow-x: hidden; 
	overflow-y: auto;
}

th.custom-header{
	text-align:center;
	border-right:1px;
	border-right-style: solid;
	border-right-color: #c2c2c2; 
}

td.custom-data{
	text-align: center;
}

.chosen-container.chosen-container-multi { width: 100%; }
.chosen-container .chosen-results{
	max-height: 100px;
}